
*{
   margin : 0px;
   padding: 0px;
}
nav{
  
   height: 30px;
   width: auto;
   background-color: #FFA800;
   
}

/* .logo{
   
   width: 5.7805rem;
   height: 5.61506rem;


border-radius: 7.125rem;

background: url(logo.png);

/* }

.log{
   display: flex;
   margin-top: 10px;
   margin-right: 6px;
   justify-content: right;
}*/ 
.zakir{
   display: flex;
   
   
} 
.zk{
   width: 55.25rem;
   height: 44.0625rem;
   background: url(zakir.png);

}
.ustad {
   width: 21.25rem;
   height: 4.1875rem;
   margin-top: 25%;
   margin-left: 128%;
   color: #FFA800;
text-align: right;
font-family: Inter;
font-size: 4rem;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.hussain{
   margin-left: 87%;
width: 44rem;
height: 6.4375rem;
flex-shrink: 0;
color: #FFF;
text-align: right;
font-family: Inter;
font-size: 6rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
  
.quote{
   margin-left: 80%;
   width: 47.5625rem;
   height: 9.8125rem;
   flex-shrink: 0;
   color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 261;
  line-height: normal;
}

   


a{
   margin-top:20px ;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(255, 225, 0);
   text-decoration: none;
   
   
}
body{
   background-color: rgb(255, 255, 255);

}

/* box2.1 starts */
.firstbox{
   padding-top: 70px;
   display: flex;
  align-items: center;
  justify-content: center;
}

.box1{
display: flex;
justify-content: center;



padding: 2.3125rem 1.2rem 2.625rem 1.2rem;
flex-direction: column;
align-items: center;
flex-shrink: 0;
border-radius: 1.25rem 1.25rem 0rem 0rem;
border: 1px solid #000;
background: linear-gradient(180deg, #737373 0%, rgba(115, 115, 115, 0.00) 100%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.about{
width: 100%;
height: 3.25rem;
flex-shrink: 0;
color: #FBE204;
text-align: center;
font-family: Inter;
font-size: 3rem;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.content1{
   width: 87.25rem;
height: 15.6875rem;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 1.3rem;
font-style: normal;
font-weight: 261;
line-height: normal;


}

.content2{
   display: flex;
   justify-content: center;
   gap:7rem;


}


.ards{
   display: flex;
   justify-content: center;
   

}
.shri{
   width: 25.625rem;
height: 3.6875rem;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 1.9rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* box2.2 starts */
.career-box{
   display: flex;
  align-content: inline;
}
.car{
   color: #FBE204;
text-align: center;
font-family: Inter;
font-size: 3rem;
font-style: normal;
font-weight: 600;
line-height: normal;
   
   }

.carrer{
   display: flex;
   
}   
.carr{
   width: 51.9375rem;
   height: 47.8125rem;
   flex-shrink: 0;
   color: #FFF;
   font-family: Inter;
   font-size: 1.25rem;
   font-style: italic;
   font-weight: 400;
   line-height: normal;
   padding-left: 4rem;
   padding-top: 4rem;
   
}


.zakir2{
   width: 43.9375rem;
height: 50.8125rem;
padding-right:3rem;
background: url(zakir2.png), rgb(0, 0, 0) 50% / cover no-repeat;
}

.zakirb{
   padding-left: 8rem;
   padding-top: 3rem;
   width: 19.5625rem;
height: 31.25rem;
flex-shrink: 0;
}



.legacy{
   width: 60.25rem;
height: 13.125rem;
flex-shrink: 0;
color: #FFF;
text-align: center;

font-family: Inter;
font-size: 1.3rem;
font-style: italic;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
text-decoration: none;
}


.allah{
   width: 69.1875rem;
height: 40.4375rem;
flex-shrink: 0;
border-radius: 12.875rem;
background: url(Allahrakha.png), lightgray 0px -8.75px / 112.014% 107.805% no-repeat;
}

.allahr{
   display: flex;
   align-items: center;
   justify-content: center;
}

.allahp{
   display: flex;
   align-items: center;
   justify-content: center;
}










/* contact section start*/

.new_home_web .text-blk.subHeading {
   text-align: center;
   color: #939393;
   max-width: 630px;
 }
 
 .new_home_web .text-blk.heading {
   font-size: 36px;
   line-height: 55px;
   font-weight: 600;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 20px;
   margin-left: 0px;
 }
 
 .new_home_web .responsive-container-block.textContainer {
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
   margin-right: 0px;
   margin-bottom: 40px;
   margin-left: 0px;
   max-width: 1320px;
   z-index: 50;
 }
 
 .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
   width: 50%;
   padding-top: 0px;
   padding-right: 0px;
   padding-bottom: 25px;
   padding-left: 10px;
 }
 
 .new_home_web .send:hover {
   background-image: initial;
   background-position-x: initial;
   background-position-y: initial;
   background-size: initial;
   background-repeat-x: initial;
   background-repeat-y: initial;
   background-attachment: initial;
   background-origin: initial;
   background-clip: initial;
 }
 
 .new_home_web .send {
   font-size: 18px;
   color: rgb(0, 0, 0);
   font-weight: 600;
   background-color:#FBE204;
   width: 80%;
   text-align: center;
   padding-top: 15px;
   padding-right: 0px;
   padding-bottom: 15px;
   padding-left: 0px;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
 }
 
 .new_home_web .container-block.form-wrapper {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-evenly;
   flex-wrap: wrap;
   z-index: 50;
 }
 
 .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
   width: 100%;
   padding-top: 0px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   max-width: 1100px;
 }
 
 .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;
   max-width: 310px;
   padding-top: 0px;
   padding-right: 40px;
   padding-bottom: 0px;
   padding-left: 0px;
 }
 
 .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 30px;
   margin-left: 0px;
   padding-top: 0px;
   padding-right: 10px;
   padding-bottom: 0px;
   padding-left: 10px;
   width: 100%;
 }
 
 .new_home_web .textinput {
   height: 100%;
   width: 100%;
   border-top-width: 2px;
   border-right-width: 2px;
   border-bottom-width: 2px;
   border-left-width: 2px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #a2a2a2;
   border-right-color: #a2a2a2;
   border-bottom-color: #a2a2a2;
   border-left-color: #a2a2a2;
   border-image-source: initial;
   border-image-slice: initial;
   border-image-width: initial;
   border-image-outset: initial;
   border-image-repeat: initial;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   font-size: 16px;
   padding-top: 20px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-left: 20px;
   background-color: #f1f1f1;
 }
 
 .new_home_web .input {
   height: 50px;
   width: 100%;
   border-top-width: 2.5px;
   border-right-width: 2.5px;
   border-bottom-width: 2.5px;
   border-left-width: 2.5px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #a2a2a2;
   border-right-color: #a2a2a2;
   border-bottom-color: #a2a2a2;
   border-left-color: #a2a2a2;
   border-image-source: initial;
   border-image-slice: initial;
   border-image-width: initial;
   border-image-outset: initial;
   border-image-repeat: initial;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   font-size: 16px;
   padding-top: 5px;
   padding-right: 15px;
   padding-bottom: 5px;
   padding-left: 15px;
   background-color: #f1f1f1;
 }
 
 .new_home_web .responsive-container-block.big-container {
   padding-top: 0px;
   padding-right: 50px;
   padding-bottom: 0px;
   padding-left: 50px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
 }
 
 .new_home_web .responsive-container-block.container {
   max-width: 1320px;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
   margin-top: 0px;
   margin-right: auto;
   margin-bottom: 60px;
   margin-left: auto;
   z-index: 50;
 }
 
 .new_home_web .responsive-cell-block {
   min-height: 75px;
 }
 
 .new_home_web textarea:focus {
   outline-color: initial;
   outline-style: none;
   outline-width: initial;
 }
 
 .new_home_web input:focus {
   outline-color: initial;
   outline-style: none;
   outline-width: initial;
 }
 
 .new_home_web a {
   text-decoration-line: none;
   text-decoration-thickness: initial;
   text-decoration-style: initial;
   text-decoration-color: initial;
 }
 
 .new_home_web .responsive-container-block {
   min-height: 75px;
   height: fit-content;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-top: 0px;
   margin-right: auto;
   margin-bottom: 40px;
   margin-left: auto;
 }
 
 .new_home_web * {
   font-family: Nunito, sans-serif;
 }
 
 .new_home_web .text-blk {
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   line-height: 25px;
   padding-top: 0px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
 }
 
 .new_home_web .left4 {
   width: 50%;
   padding-top: 0px;
   padding-right: 10px;
   padding-bottom: 0px;
   padding-left: 0px;
 }
 
 .new_home_web .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.lastPhone {
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
 }
 
 .new_home_web .orangeText {
   color: #FBE204;
 }
 
 .new_home_web .orangeLine {
   height: 10px;
   width: 160px;
   background-color:#FBE204;
 }
 
 .new_home_web .topHead {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 40px;
   margin-left: 0px;
   margin: 0 0 25px 0;
 }
 
 .new_home_web .imgBG {
   position: absolute;
   width: 80%;
   height: 100%;
   left: auto;
   right: 0px;
   top: auto;
   bottom: 0px;
 }
 
 @media (max-width: 1024px) {
   .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
     margin-top: 60px;
     margin-right: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
   }
 
   .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
     padding-top: 0px;
     padding-right: 20px;
     padding-bottom: 60px;
     padding-left: 0px;
   }
 
   .new_home_web .responsive-container-block.container {
     justify-content: center;
   }
 }
 
 @media (max-width: 768px) {
   .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
     padding-top: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
   }
 
   .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
     padding-top: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     margin: 0 0 10px 0;
   }
 
   .new_home_web .container-block.form-wrapper {
     align-items: center;
   }
 
   .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
     width: 100%;
     margin-top: 30px;
     margin-right: 0px;
     margin-bottom: 0px;
     margin-left: 0px;
   }
 
   .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
     width: 100%;
     padding-top: 0px;
     padding-right: 0px;
     padding-bottom: 20px;
     padding-left: 0px;
   }
 
   .new_home_web .responsive-container-block.container {
     flex-direction: column;
   }
 
   .new_home_web .textinput {
     width: 100%;
   }
 
   .new_home_web .input {
     width: 100%;
   }
 
   .new_home_web .left4 {
     padding-top: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
     padding-left: 0px;
     width: 100%;
     margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 25px;
     margin-left: 0px;
   }
 
   .new_home_web .responsive-container-block {
     flex-direction: column;
     align-items: center;
   }
 
   .new_home_web .textinput {
     height: 200px;
   }
 
   .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
     width: 100%;
   }
 
   .new_home_web .imgBG {
     width: 100%;
     height: 90%;
     top: auto;
     left: auto;
   }
 
   .new_home_web .text-blk.heading {
     font-size: 30px;
   }
 }
 
 @media (max-width: 500px) {
   .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
     flex-wrap: wrap;
   }
 
   .new_home_web .send {
     padding-top: 15px;
     padding-right: 0px;
     padding-bottom: 15px;
     padding-left: 0px;
     text-align: center;
     width: 70%;
   }
 
   .new_home_web .responsive-container-block.big-container {
     padding-top: 0px;
     padding-right: 20px;
     padding-bottom: 0px;
     padding-left: 20px;
   }
 
   .new_home_web .text-blk.heading {
     font-size: 30px;
     text-align: center;
     line-height: 35px;
   }
 
   .new_home_web .send {
     width: 100%;
     max-width: 250px;
   }
 
   .new_home_web .imgBG {
     height: 60%;
   }
 
   .new_home_web .text-blk.subHeading {
     font-size: 16px;
     line-height: 24px;
   }
 
   .new_home_web .responsive-container-block.textContainer {
     margin: 50px 0 30px 0;
   }
 
   .new_home_web .input {
     height: 45px;
   }
 
   .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
     margin: 0 0 10px 0;
   }
 }

.last_nav{
   width: 108.75rem;
height: 4.375rem;
text-align: center;

   
}